# Python
__pycache__/
*.py[cod]
*.pyo

# virtualenv
.venv/
venv/

# Packaging/build
build/
dist/
*.egg-info/

# Editors/OS
.DS_Store
Thumbs.db
.vscode/

# Data: ignore all CSVs by default but allow the Titanic sample
*.csv
!Titanic-Dataset.csv

.gitattributes
